.section__initial{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-bottom: 4rem;

    background-color: var(--cor-base-claro);
}

.title__initial{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;

    padding: 1rem 0 2rem 0;

    color: var(--preto-texto);
}

.text__initial{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 110%;
    color: var(--preto-texto);
}

.social__links {
    display: flex;
    padding: 2rem 0 1rem 0;
}

.links__initial{
    margin-right: 1rem;
    margin-left: 1rem;

    font-weight: 600;
    text-decoration: none;

    color: var(--preto-texto);
}

.links__initial::after{
    position: relative;
    top: 6px;
    content: url('../img/arrow_back_black_24dp1.svg');
}

.links__initial:hover{
    text-decoration: underline 2px;
    text-underline-offset: 4px;
}

.div__initialText {
    padding-right: 2rem;
}

.imgPerfil_initial{
    width: 300px;
    height: 300px;
    border: 1px solid var(--preto-texto);
    border-radius: 50%;

    background-image: url('https://github.com/geonaldo.png');
    background-size: cover;
    background-repeat: no-repeat;

    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 1439px){
    .section__initial{
        align-items: flex-start;
    }
    
    .imgPerfil_initial{
        margin-top: 2%;
    }
}

@media screen and (max-width: 1023px){
    .title__initial{
        font-size: 1.4rem;
        line-height: 1.4rem;
        padding-bottom: 1rem;
    }

    .text__initial{
        font-size: 1rem;
        line-height: 18px;
    }

    .imgPerfil_initial{
        width: 150px;
        height: 150px;
    }

    .social__links{
        padding-top: 1.4rem;
    }

    .links__initial{
        font-size: 0.9rem;
        margin-right: 1rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 680px){
    .div__initialText {
        padding-right: 0rem;
        max-width: 100%;
    }

     .section__initial{
    flex-direction: column;
    align-items: flex-start;
    }

    .div-perfil-img{
        order: -1;
    }

    .social__links{
        width: 100%;
        justify-content: flex-start;
    }

    .links__initial{
        font-size: 0.82rem;
        margin-left: 0px;
        margin-right: 8px;

    }
}

@media screen and (max-width: 410px) {
    .links__initial::after{
        display: none;
    }

    .social__links{
        padding-bottom: 0px;
    }

    .links__initial{
        font-size: 0.9rem;
        margin-right: 14px;
    }
}